.row {
	flex-wrap: nowrap;
}

#root {
	width: 100%;
	margin: auto;
}

div.App {
	width: 1200px;
	margin: auto;
}

#jumbo {
	background-color: #7fa0c1;
	text-align: center;
	font-size: 36px;
}

div#card-container {
	display: inline-block;
	text-align: center;
}

#my-row.row {
	text-align: center;
	/* margin-right: 0px;
    margin-left: 0px; */
	margin: auto;
}
#my2-row.row {
	text-align: center;
	/* margin-right: 0px;
    margin-left: 0px; */
	margin: auto;
	width: 80%;
	flex-wrap: nowrap;
}
.card {
	text-align: center;
	margin: 0px;
}

.card-img {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

div.text-center.card {
	margin: 0px;
}
